<!DOCTYPE html>
<html lang= "pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Igreja</title>
        <link rel="stylesheet" href="css/igreja.css">
    </head>
    <body>
        <header>
            <h1>Igreja</h1>
            <marquee>
                <h1>Jesus está voltando!</h1>
            </marquee>        
        </header>
        <br>
        <div class="box1" ><h1>Bíblia Sagrada</h1></div>
        <div>
        <section>
            
                <div class="box2"><h2>Antigo Testamento</h2></div>
            <section>
                <div class="box3"><h3>Livros da Leis</h3></div>
            
            <div class="box3"><h4>Genesis</h4></div>
            <div class="box3"><h4>Êxodo</h4></div>
            <div class="box3"><h4>Levíticos</h4></div>
            <div class="box3"><h4>Numeros</h4></div>
            <div class="box3"><h4>Deuteronômio</h4></div>
            
            
            </section><br>
            <section>
            <div class="box4"><h3>Historias do Antigo Testamento</h3></div>
               <section>
                <div class="box4">
                    <h4>I Reis</h4></div>
                    <section>
                    <h5 class="h5">Capitulo 2</h5>
                        
                        <p>3 E guarda a observância do <b>SENHOR</b>, teus <b>DEUS</b>, para andares nos seus caminhos e para guardares os seus estatutos, e os seus mandamentos, e os seus juízos, e os seus testemunhos, como está escrito na <b>Lei de Moisés</b>, para que prosperes em tudo quanto fizeres, para onde quer que te voltares.  </p>
                    
                     </section>
                   <div class="box4"><h4>II Reis</h4></div>
                   <section>
                       <h5 class="h5">Capitulo 14</h5>
                       <p>6 Porém os filhos dos matadores não matou, como está escrito no livro da <b>Lei de Moisés</b>, no qual o <b>SENHOR</b> deu ordem, dizendo:<b style="color:orange;"> Não matarão os pais por causa dos filhos, e os filhos não matarão por causa do pais; mais cada um será morto pelo seu pecado.  </b></p>
                   </section>
                   
                   <div class="box4"><h4>Esdras</h4></div>
                   
                   <section>
                       <h5 class="h5">Capitulo 6</h5>
                      <p>18 E puseram os sacerdotes nas suas turmas e os levitas nas suas divisões, para o ministérios de <b>DEUS</b>, que está em Jerusalém, conforme o escrito do livro de Moisés. </p>
                   </section>
                   
                   <div class="box4"><h4>Neemias</h4></div>
                   
                   <section>
                       <h5 class="h5">Capitulo 13</h5>
                      <p>1Naquele dia, leu-se no livro de Moises, aos ouvidos do povo; e achou-se escrito nele que os amonitas e os moabitas não  entrassem jamais na congregação de <b>DEUS</b>,  </p>
                   </section>


                   </section>
            </section><br>
            <section>
                <div class="box5">
                    <h3>Poesias</h3>
                </div>
            </section>
            
            
            
            
        
        </section>
            </div>
        
        <hr>
        <div>
        <section>
            
                <div class="box2"><h2>Novo Testamento</h2></div>
            
            
            
        
        </section>
            </div>
        <a href="../Index.html"><div Class="box1">Voltar</div></a>
        <br>
        <footer>
            <h4>Igreja</h4>
        
        </footer>
    
    </body>
</html>
